*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: #04009a;
}
h1{
    font-size: 40px;
    font-family: serif;
    color:#c0fefc;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    
    margin-top:30px;
    word-spacing: 25px;
    letter-spacing: 8px;
    
}
h2{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
        color:#c0fefc;
    margin: 20px;
    word-spacing: 22px;
}

.btnContainer{
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    padding:100px;
    word-spacing: 10px;
    letter-spacing: 3px;
    

    margin-top: 3%;
    

}
.feedback{
    margin-left: 60px;
    color:#3edbf0;
    word-spacing: 20px;

}
footer{
    font-size: 30px;
    color:#c0fefc;
    font-family: sans-serif;
    letter-spacing: 10px;
    word-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
@media screen and (max-width:900px){
    h1{
        font-size: 20px;
        word-spacing: 10px;
        letter-spacing: 3px;
    }
    h2{
        font-size:16px;
        word-spacing: 8px;
        
    }
    .drum{
        width:300px;
        height: 70px;
        margin: 5px;
        
    }@media screen and (max-width:1000px){
        h1{
            font-size: 20px;
            word-spacing: 10px;
            letter-spacing: 3px;
        }
        h2{
            font-size:16px;
            word-spacing: 8px;
            
        }
        .drum{
            width:300px;
            height: 70px;
            margin: 5px;
            
        }
        .feedback{
            font-size: 20px;
            font-weight: bolder;
            text-align: center;
    
    
        }
        footer{
            font-size:15px;
            word-spacing: 1px;
            letter-spacing: 2px;
        }
        
    
    }
    .feedback{
        font-size: 20px;
        font-weight: bolder;
        text-align: center;


    }
    footer{
        font-size:15px;
        word-spacing: 1px;
        letter-spacing: 2px;
    }
    

}
@media screen and (min-width:901px){
    h1{
        font-size: 40px;
        word-spacing: 20px;
        letter-spacing: 5px;
    }
    h2{
        font-size:30px;
        word-spacing: 13px;
        
    }
    .drum{
        width:500px;
        height: 100px;
        margin: 9.6px;
        
    }
    .feedback{
        font-size: 35px;
        font-weight: bolder;
        text-align: center;


    }
    footer{
        font-size:30px;
        word-spacing: 6px;
        letter-spacing: 4px;
    }
    

}
